extends layout

block content
  h4.page-header
    a(href=`/collections/${document}`)= document
  div.main_content
    form(method='post', action=`/collections/${document}/`)
      textarea#document(name='doc', style='display:none;')
        | #{doc}
      button#save-button.right-button.button Save Document
block js
  script(src='/javascripts/codemirror/mode/javascript/javascript.js')
  script.
    $(function () {
      CodeMirror.fromTextArea(document.getElementById('document'), {
          mode: "application/ld+json",
          theme: "origami",
          matchBrackets: true,
          autoCloseBrackets: true,
          lineWrapping: true,
          lineNumbers: false
      });
    });
